@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>

}

@if (TempData["DeletPage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeletPage"]
    </div>

}

@if (TempData["pagesuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["pagesuccess"]
    </div>

}
 TempData["DeletPage"]